{% extends 'ToaTwitterBootstrapBundle::layout.html.twig' %}
{% block title %} Edit View {% endblock %}
{% block content %}
<h2><a href="{{ path('dns_manager_server_view_show', {'server': serverview.server.id}) }}">{{ serverview.server }}</a><small>server view</small</h2>
		<form class="form-horizontal" action="{{ path('dns_manager_server_view_update', {'id': serverview.id}) }}" method="post" {{ form_enctype(form) }}>
		<div>			
				{{ form_widget(form) }}
		</div>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
		</form>
{% endblock %}