{% for record in records %}
	<div class="row">
		<div class="span12">
			<strong>
				<a href="{{ path('dns_manager_host_edit', {'id': record.id }) }}"> 
					{{ record.hostname }}
				</a>
			</strong>
		</div>
	</div>
			{% for v in record.views %}
				<div class="row">
					<div class="span1">	</div>
						<a href="{{ path('dns_manager_hostview_edit', {'id': v.id }) }}">
						<div class="span1"> 
						 {{ v.ttl }}</div>
						 <div class="span2"> IN {{ v.recordtype }}
						 {% if v.mx %} {{ v.mx }} {% endif %}
						 </div>
						 <div class="span5"> {{ v.destination }}</div>
						 <div class="span2">{% if view is null %} ON {{ v.view }} {% endif %}</div>
						 </a>
						 
						
				</div>
			{% endfor %}

{% endfor %}