{% for serv in servers %}
	<div class="row">
		<div class="span5"">
			<h4>
			<a href="{{ path('dns_manager_server_view_show', {'server': serv.id}) }}">{{ serv }}</a>				
			</h4>
		</div>
		<div class="zone-tools pull-right">
{# 					<a href="{{ path('dns_manager_zone_edit', {'domain': zone.domain}) }}">edit</a>#}
{# 					<a href="{{ path('dns_manager_zone', {'domain': zone.domain}) }}">show</a>#}
{# 					<a href="#">{{  not zone.enable ? 'enable' : 'disable' }}</a>#}
					<a href="{{ path('dns_manager_server_view_show', {'server': serv.id}) }}">
						<i class="icon-eye-open"></i>show</a>
					<a href="{{ path('dns_manager_server_config', {'server': serv.id}) }}">
						<i class="icon-file"></i>config</a>
{# 					<a href="{{ path('dns_manager_server_view_create', {'server': serv.id}) }}">#}
{# 						<i class="icon-plus"></i>add view</a>#}
					<a href="{{ path('dns_manager_server_delete', {'id': serv.id}) }}">
						<i class="icon-remove"></i>delete</a>
		</div>
	</div>                   
{% endfor %}